*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width:1422px;
  height: 1000px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
header{
  width: 1422px;
  height: 100px;
  z-index:3;
  background-color: #851600;
  background-image: url("http://www.transparenttextures.com/patterns/natural-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  position: fixed;
  text-align: center;
  }
.logo{
  height: 100px;
  float: left;
  display: inline-block;
}
.nav-bar{
  margin: 30px 10px;
  float: right;
}
.nav-bar li {
  font-size: 1.8em;
  float: left;
  list-style: none;
  padding: 0 10px;
}
.nav-bar li a {
  display: block;
}
.map{
  top:100px;
  position: relative;
  background: url('../img/background1.jpg');
  width: 1422px;
  height: 800px;
}
.species {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 3px solid black;
  border-radius: 100%;
}
.ocelot {
  top: 450px;
  left: 320px;
  background-image: url("../img/ocelot-small.jpg");
}
.deer {
  top: 150px;
  left: 1150px;
  background-image: url("../img/deer-small.jpg");
}
.siamang{
  top: 200px;
  left: 950px;
  background-image: url("../img/siamang-small.jpg");
}
.whale {
  top: 680px;
  left: 850px;
  background-image: url("../img/whale-small.jpg");
}
.chamois{
  top: 150px;
  left: 650px;
  background-image: url("../img/chamois-small.jpg");
}
.donkey{
  top: 475px;
  left: 700px;
  background-image: url("../img/donkey-small.jpg");
}
.sealion{
  top: 500px;
  left: 1200px;
  background-image: url("../img/sealion-small.jpg");
}
.rabbit{
  top: 200px;
  left: 150px;
  background-image: url("../img/rabbit-small.jpg");
}
.wolf{
  top: 300px;
  left: 700px;
  background-image: url("../img/wolf-small.jpg");
}
.solenodon{
  top: 300px;
  left: 270px;
  background-image: url("../img/solenodon-small.jpg");
}
.modal {
  top: -100px;
  left: -60px;
  position: relative;
  z-index:2;
  border: 3px solid black;
  background-color: #851600;
  background-image: url("http://www.transparenttextures.com/patterns/natural-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  width: 300px;
  height: 400px;
  text-align: center;
  font-size: 1.2em;
  display: none;
}
.modal h3{
  color: #f0ce69;
  margin: 10px 0;
}
.modal a {
  position: absolute;
  text-decoration: none;
  font-size: 2em;
  bottom: 30px;
  right: 70px;
  color: #f0ce69;
}
.modal img {
  border: 2px solid black;
}
div#whale-m {
  top: -285px;
  left: -60px;
}
div#sealion-m {
  top: -105px;
  left: -85px;
}
div.ocelot:hover > div#ocelot-m {
  display: block;
}
div.deer:hover > div#deer-m {
  display: block;
}

div.siamang:hover > div#siamang-m {
  display: block;
}
div.whale:hover > div#whale-m {
  display: block;
}
div.chamois:hover > div#chamois-m {
  display: block;
}
div.donkey:hover > div#donkey-m {
  display: block;
}
div.sealion:hover > div#sealion-m {
  display: block;
}
div.rabbit:hover > div#rabbit-m {
  display: block;
}
div.wolf:hover > div#wolf-m {
  display: block;
}
div.solenodon:hover > div#solenodon-m {
  display: block;
}
footer {
  width: 1422px;
  height: 100px;
  position: relative;
  bottom: -100px;
  font-size: 1.5em;
  padding-top: 72px;
  background-color: #851600;
  background-image: url("http://www.transparenttextures.com/patterns/natural-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.fa {
  color: black;
  font-size: 1.5em;
}
